@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    /* Fonts */
    --font-sans: "Syne", sans-serif;
    --font-handwriting: "Mynerve", cursive;
    --font-mono: "Courier New", monospace;

    /* Colors */
    --color-background: #f8f6e3;
    --color-background-2: #ffffff;
    --color-foreground-primary: #4b352a;
    --color-foreground-text: #52525b;
    --color-border: #27272a;
    --color-separator: #d4d4d8;
    --color-primary: #229799;
    --color-foreground-button: #ffffff;
}

@layer base {
    body {
        background-color: var(--color-background);
        color: var(--color-foreground-text);
        font-family: var(--font-sans);
        -webkit-font-smoothing: antialiased;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: var(--color-foreground-primary);
        letter-spacing: -0.05em;
    }
}

@layer components {
    /* Layout Utilities */
    .inner {
        @apply mx-auto w-[90%] max-w-5xl;
    }

    .input-pow {
        @apply w-full bg-transparent border-b-2 border-separator py-4 font-sans text-xl font-bold text-foreground-primary outline-none transition-colors;
    }
    .input-pow:focus {
        @apply border-primary;
    }
    .input-pow::placeholder {
        @apply text-separator font-normal;
    }

    /* Button Style */
    .btn-pow {
        @apply inline-flex items-center justify-center gap-2 rounded-xl border border-border px-6 py-4 font-bold text-foreground-primary transition-all hover:bg-primary hover:text-white hover:border-primary cursor-pointer active:scale-95;
    }
}
